body {
  background: #eee;
  font-family: sans-serif;
}

/*Don't need to change anything above*/

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

/*I think card is good too*/

.title {
  background: #e3f4ff;
  font-size: 20px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 15px;
  border: white solid 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  border: white 50px;
}

button {
  background: white;
  border: 1px solid #eee;
}